body {
  background-color: tan;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: darkgoldenrod;
  height: 50px;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  color: white;
  padding: 14px 16px;
  display: block;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

li a:hover {
  background-color: black;
}

section {
  padding: 20px;
  border: 1px solid gainsboro;
  margin: 10px;
  border-radius: 10px;
}

section:last-of-type {
  margin-bottom: 50px;
}

footer {
  color: white;
  background-color: thistle;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 30px;
}

.card {
  border: 1px solid lightgrey;
  width: 30%;
}

.card img {
  height: 100px;

}
